apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: dbaas-ingress
  namespace: {{ dbaas_namespace }}
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /$2
spec:
  rules:
  - host: {{ dbaas_domain }}
    http:
      paths:
      - path: /(/|$)(.*)
        pathType: Prefix
        backend:
          service:
            name: dbaas-frontend
            port:
              number: 80
      - path: /api(/|$)(.*)
        pathType: Prefix
        backend:
          service:
            name: dbaas-backend
            port:
              number: 80